.form-field {
  padding-bottom: 8px;

  &__label {
    display: block;
    margin: 0 0 6px 0;
  }

  &__control {
    display: block;
  }

  &__error {
    display: none;
    font-size: 12px;
    color: red;
    padding: 4px 0;
    min-height: 22px;

    span {
      display: block;
    }
  }

  &_error {
    .form-field__error {
      display: inline;
    }
  }

  &_inline {
    display: flex;

    > .form-field__label {
      padding: 10px 12px 10px 0;
      width: 30%;
    }

    > .form-field__control {
      width: 70%;
    }
  }
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
